.friend_list{
}
.friend{
    height: 70px;
    background-color: rgb(235,235,235);
}
.friend_name{
    position: absolute;
    top: 10px;
    left: 70px;
    height: 10px;
    text-align:center;
}
.friend_photo{
    position:absolute;
    left: 10px;
    top: 10px;
}