.friend_list{

}
.friend{
    height: 70px;
}
.friend_name{
    position: absolute;
    left: 70px;
    text-align:center;
}
.friend_photo_50{
    position:absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
}