.friend_list{
    font-family:'myFont', 'Segoe Script';

}
.friend{
    height: 70px;
}
.friend_name{
    position: absolute;
    left: 70px;
    text-align:center;
}
.friend_photo{
    position:absolute;
    left: 10px;
    top: 10px;
}
@font-face {
    font-family: myFont;
    src:url('../rsc/fonts/segoesc.ttf') format('TrueType'), 
  }