.user_photo_200{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
    height: 200px;
}
.user_name{
    font-family:'myFont', 'Segoe Script';
    position: absolute;
    left: 220px;
}
.post{
    position: relative;
    height: auto;
}
.news_feed{
    position: relative;
    left: 0px;
    top:220px;
    right: 0px;
}
.post_author_name_rel{
    font-family:'myFont', 'Segoe Script';
    position: relative;
    left: 70px;
    height: 20px;
    top:10px;
    text-align: left;
}
.author_photo_50_rel{
    position: relative;
    left: 10px;
    top:-30px;
}
.post_text_rel{
    font-family:'myFont', 'Segoe Script';
    position: relative;
    left:10px;
    right:20px;
    resize: none;
    word-break: break-all;
}
.post_author_name{
    font-family:'myFont', 'Segoe Script';
    position: absolute;
    left: 70px;
    top:10px;
}
.author_photo_50{
    position: absolute;
    left: 10px;
    top:10px;
}
.post_text{
    font-family:'myFont', 'Segoe Script';
    position: absolute;
    top:70px;
    left:10px;
    width: 200;
    resize: none;
    word-break: break-all;
}
@font-face {
    font-family: myFont;
    src:url('../rsc/fonts/segoesc.ttf') format('TrueType'), 
  }