.dialog_list{
    position: relative;
    top: 50px;
}
.dialog
{
    height: 70px;
}
.dialog_last_message{
    position:absolute;
    left: 70px;
    top: 30px;
}
.dialog_last_message_text{
    color: grey;
}
.message_input_textarea{
    position: absolute;
    width: 450px;
    height: 30px;
    width: 450px;
    resize: none;
    border-radius:8px;
}
.write_message_button{
    position: absolute;
    left: 465px;
    height: 34px;
    width: 40px;
    margin: 0px;

}
.write_message_button_text{
    margin-top:5px;
}