.post{
    top: auto;
    position: relative;
    height: auto;
    background-color: rgb(235, 235, 235);
}
.post_author_name_rel{
    position: relative;
    left: 70px;
    height: 20px;
    top: 10px;
    text-align: left;
}
.author_photo_rel{
    position: relative;
    left: 10px;
    top:-20px;
}
.post_text_rel{
    font-family:'Helvetica', 'sans-serif';
    position: relative;
    left:10px;
    /* right:30px; */
    width: 480px;
    resize: none;
    margin-bottom: 5px;
    word-break: break-all;
}
.post_author_name{
    position: absolute;
    left: 70px;
    /*top:10px;*/
}
.author_photo_50{
    position: absolute;
    left: 10px;
    /*top:10px;*/
}
.post_text{
    font-family:'Helvetica', 'sans-serif';
    position: absolute;
    top:70px;
    left:10px;
    width: 200;
    resize: none;
    word-break: break-all;
}