.default {
  font-family:'myFont', 'Segoe Script';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  text-align:center;
}
.page{
  position: relative;
  width: 700px;
  height: auto;
  margin: auto;
}
.title{
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  height:80px;
  background-color:rgba(235, 235, 235, 1);
}
.button{
  font-family:'myFont', 'Segoe Script';
  font-weight:700;
  font-style:normal;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  background-color:rgba(235, 235, 235, 1);
  text-shadow: black;
}
.bordered{
  border-width: 1px;
  border-style: solid;
  border-radius:5px;
}
.logo_100_60{
  position: relative;
  left:20px;
  top:10px;
  width:100px;
  height:60px;
}
.exit_button {
  position: absolute;
  right:20px;
  top:20px;
  width:122px;
  height:40px;
}
.left_menu{
  position: absolute;
  left:0px;
  top:90px;
  width: 180px;
}
.left_menu_button{
  position: relative;
  width:inherit;
  height:40px;
  margin:1px;
}
.page_placer{
  position: absolute;
  top: 90px;
  left:190px;
  right:0px;
  height: inherit;
}
a{
  font-family:'myFont', 'Segoe Script';
  font-weight:700;
  font-style:normal;
  color: black;
  text-decoration: none;
  font-size:15px;
  text-align:center;
}
form{
  margin: auto;
}
.feed_element{
  position: relative;
  margin: 1px;
}
.photo_50{
  height: 50px;
  width: 50px;
}
@font-face {
  font-family: myFont;
  src:url('../rsc/fonts/segoesc.ttf') format('TrueType'), 
}