.user_photo{
    position: absolute;
}
.user_name{
    position: absolute;
    font-weight: 700;
    left: 220px;
}
.news_feed{
    position: relative;
    left: 0px;
    top: 295px;
    right: 0px;
}
.add_friend_button{
    position: absolute;
    top: 205px;
    left: 205px;
    height: 40px;
    width: 200px;
    text-align: center;
}
.remove_friend_button{
    position: absolute;
    top: 205px;
    left: 205px;
    height: 40px;
    width: 200px;
    text-align: center;
}
.view_friend_button{
    position: absolute;
    top: 205px;
    left: 0px;
    height: 40px;
    width: 200px;
    text-align: center;
}
.post_input_textarea{
    position: absolute;
    top: 250px;
    left: 0px;
    height: 30px;
    width: 450px;
    resize: none;
    border-radius:8px;
}
.post_input_button{
    position: absolute;
    top: 248px;
    left: 460px;
    height: 30px;
    width: 50px;
}
.post_input_button_text{
    margin-top:5px;
}