.user_photo{
    position: absolute;
}
.user_name{
    position: absolute;
    font-weight: 700;
    left: 220px;
}
.news_feed{
    position: relative;
    left: 0px;
    top: 250px;
    right: 0px;
}
.add_friend_button{
    position: absolute;
    top: 210px;
    left: 50px;
    height: 30px;
}